venv/
.venv
.env
__pycache__/
.idea
.vscode
proxies.json
.pytest_cache
.DS_Store
logs/
src/scrape_and_score/models/nn
src/scrape_and_score/data/shap_analysis
src/scrape_and_score/data/inputs
*.egg-info/
